html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 1vw;
}
#root{
    min-height: 100vh;
    background-color: black;
}
#root, main, form, form div{
    display: flex;
}
header, footer{
    color: white;
    background-color: rgb(30, 30, 121);
}
header, footer, input{
    text-align: center;
}
header{
    font-size: 2.2rem;
}
main, form, form div{
    align-items: center;
}
main{
    flex-grow: 1;
    justify-content: flex-start;
}
footer, form, input, button, #imcResultContainer{
    font-size: 2rem;
}
input{
    margin-left: 1rem;
}
form, main, #root{
    flex-direction: column;
}
form div{
    width: 100%;
    margin-bottom: 1rem;
    justify-content: space-between;
}
#imcResultContainer, form{
    background-color: rgba(245, 245, 245, 0.75);
}
#imcResultContainer, form, button{
    padding: 1rem;
}
#imcResultContainer{
    margin-top: 1rem;
}
button{
    background-color: grey;
}
